<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Success</title>
        <link href="/en/css/main.css" rel="stylesheet" type="text/css"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header></header>
        <article>
            <section>
                <br /><br /><div style="border: 1px black solid">Your account was registered successfully <br />
                    Confirmation email was sent to: <b>{{email}}</b> please press the link in the email to activate your free 30 days trail <br />
                    Please verify that your confirmation email did not go into your spam's folder </div><br />
            </section>
            <section>
                <button id="btnclose" onclick="window.close();">Close</button>
            </section>  
        </article>
    </body>
</html>
